@import "tailwindcss" theme(static);
@import "@nuxt/ui-pro";

@source "../../../content/**/*";

@theme static {
  --font-sans: 'Public Sans', sans-serif;
}

:root {
  --ui-primary: black;
}

.dark {
  --ui-primary: white;
}
